.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  margin-left: 16px;
  font-weight: 100;
}

.action_button {
  margin-right: 8px;
}

.search_box input {
  border-radius: 25px;
  z-index: 0;
}